@import '../../styles/variables.scss';

.container {
    color: $gray-1;
    margin-bottom: 100px;
    .wrapper {
        display: flex;
        margin-bottom: 64px;
        .description {
            width: 50%;
            margin-right: 16px;
            span {
                font-size: $subtitle-size2;
                line-height: $subtitle-size2;
                margin-bottom: 8px;
                letter-spacing: 0.18px;
            }
            h2 {
                font-size: $title-size;
                font-weight: normal;
                line-height: 56px;
                margin-bottom: 40px;
                max-height: 168px;
                overflow: hidden;
            }
            .tags {
                border: 1px solid magenta;
                width: 70%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            p {
                width: 95%;
                color: $gray-2;
                font-weight: $bolder-font-weight;
                font-size: $text-size1;
                line-height: 24px;
                letter-spacing: 0.15px;            
            }
        }
        .imgContainer {
            width: 50%; 
            min-height: 480px;
            max-width: 512px;
            .img {
                width: 100%; 
                height: 100%;
                border-radius: 25px;
            }
            
        }
    }
    .problemSection {
        h3 {
            font-size: $subtitle-size2;
            line-height: $subtitle-size2;
            letter-spacing: 0.18px;
            margin-bottom: 32px;
        }
        p {
            font-weight: normal;
            font-size: $text-size2;
            line-height: 24px;
            letter-spacing: 0.5px;
        }
    }
    @media (max-width:500px) {
        margin-bottom: 48px;
        .wrapper {
            flex-direction: column-reverse;
            margin-bottom: 24px;
        .description {
            width: 100%;
            padding-top: 40px;
            span {
                font-size: $note-size;
                line-height: 16px;
                margin-bottom: 8px;
            }
            h2 {
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 28px;
                max-height: 84px;
                overflow: hidden;
            }
            .tags {
                border: 1px solid magenta;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 28px;
            }
            p {
                width: 100%;
                font-size: 12px;
                line-height: 14px;         
            }          
        }
        .imgContainer {
            width: 100%;
            padding: 0;
            min-height: 200px;
        }
        }
        .problemSection {
            h3 {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 16px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    
}