@import '../../styles/variables.scss';

.container {
    margin-bottom: 100px;
    p {
        margin: 32px 0;
        color: $gray-1;
        font-weight: normal;
        font-size: $subtitle-size2;
        line-height: $subtitle-size2;
        letter-spacing: 0.18px;
    }
    .imgWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .img {
            border-radius: 20px;
            width: 248px;
            height: 288px;
            margin: 16px 16px 0 0;
        }
        .img:first-child {
            width: 512px;
        }
        .img:last-child {
            width: 512px;
        }
    }
    @media (max-width:500px) {
        margin-bottom: 48px;
        p {
            margin: 16px 0;
            font-size: 14px;
            line-height: 16px;
        } 
        .imgWrapper {
            display: flex;
            justify-content: unset;
            .img {
                border-radius: 20px;
                width: 88px;
                height: 88px;
                margin: 1px;
            }
            .img:first-child {
                width: 136px;
            }
            .img:last-child {
                width: 136px;
            }
        }
    }
}