@import '../../styles/variables.scss';

.container {
    margin-bottom: 100px;
    p {
        margin: 32px 0;
        color: $gray-1;
        font-weight: normal;
        font-size: $subtitle-size2;
        line-height: $subtitle-size2;
        letter-spacing: 0.18px;
    }
    //falta el grid de las imgenes
    .imgWrapper {
        border: 1px solid mediumvioletred;
        display: grid;
        grid-row: 1fr 1fr 1fr 1fr;
        // grid-row: 1fr 1fr;
    }
    @media (max-width:500px) {
        margin-bottom: 48px;
        p {
            margin: 16px 0;
            font-size: 14px;
            line-height: 16px;
        }   
    }
}