@import '../../styles/variables.scss';

.container {
    h2 {
        font-size: $title-size;
        line-height: 56px;
        margin-bottom: 64px;
        font-weight: normal;
    }
    .cardWrapper {
        border: 1px solid mediumseagreen;
        display: flex;
        justify-content: space-between;
    }
    @media (max-width:500px) {
        h2 {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
        }

        //adjust card wrapper mobile
        .cardWrapper {
            border: 1px solid mediumvioletred;
            flex-direction: column;
            width: 100%;
            grid-column: 50% 50%;
            grid-row: 50% 50%;
        }
    }
}