@import '../../styles/variables.scss';

.btn {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-weight: $bolder-font-weight;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    &.primary {
        background-color: $black-toroto;
        color: $white-toroto;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    &.secondary {
        color: $black-toroto;
        border: none;
        background: $white-toroto;
    }
    &.cardbtn{
        color: $black-toroto;
        border: 1px solid $black-toroto;
        background: $white-toroto;
    }
    
}
.tag {
    font-size: 14px;
    width: fit-content;
    padding: 9px;
    height: fit-content;
    color: $black-toroto;
    border: 1px solid $black-toroto;
    background: $white-toroto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    .icon {
        margin-right: 0px;
        @media (max-width:500px) {
        width: 20px;
        }
    }
    @media (max-width:768px) {
        font-size: 12px;
        flex-wrap: unset;
    }
    
}