@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//font
$Roboto: 'Roboto', sans-serif;

//font-sizes
$title-size: 48px;
$subtitle-size1: 34px;
$subtitle-size2: 24px;
$text-size1: 20px;
$text-size2: 16px;
$note-size: 14px;

//font-weight
$normal-font-weight: 400;
$bolder-font-weight: 500;

//colors 
$blue-toroto: #1A30DB;
$black-toroto: #373737;
$white-toroto: #FFFFFF;
$gray-1: #333333;
$gray-2: #6F6F6F;
$gray-3: #908F8F;
$gray-4: #BDBDBD;
$gray-5: #BDBDBD;