@import '../../styles/variables.scss';

.container {
    padding: 10%;
    font-family: $Roboto;
    width: 100%;
    h3 {
        font-weight: normal;
        color: $black-toroto;
        font-size: $title-size;
        margin-bottom: 32px;
        line-height: 56px;
    }
    .wrapper {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:500px) {
        padding: 0 3%;
        margin: 24px 0 50px 0;
        h3 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 24px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    } 
}